.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.shopTitle {
  margin: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.links {
  margin: 10px;
  display: flex;
  align-items: center;
}

.links a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 23px;
}

.links a:hover {
  color: #ff0000;
}

.cart-link {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-count {
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}