
  .lead {
        width: 80%;
        margin: 0 auto;
        text-align: center;
  }

  .display-6 {
    text-align: center;
  }

.about {
    width: 100%;
    text-align: center;
}

.row {
    width: 100%;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}